.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: cornflowerblue;
  position: fixed;
  top: 0;
}

.nav-list {
  display: flex;
  list-style-type: none;

}

li {
  margin: 40px;
}