.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(237, 100, 100);
  color: #646cff;
  position: fixed;
  top: 0;
}

h1 {
  margin: 50px;
}
.nav-list {
  display: flex;
  list-style-type: none;
  font-size: 25px;
}

li {
  margin: 45px 30px 45px 30px;

}

footer {  
  height: 10%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(237, 100, 100);
  color: #646cff;
  position: fixed;
  bottom: 0;
}

.logo {
  height: 9vh;
  margin: 5px;
}

section {
  background-color: rgb(237, 100, 100);
  padding: 5%;
  width: 75%;
  border-radius: 25px;
  text-align: left;
  margin: auto;
  font-size: 25px;
}

@media screen and (max-width: 1195px) {
  h1 {
    margin: 10px;
  }
}

@media screen and (max-width: 1115px) {
  li {
    margin: 15px;
  }
}

@media screen and (max-width: 600px) {
  section {
    width: 100%;
    border-radius: 25px;
    margin: 25px auto;
    font-size: 20px;
  }
  .nav-list {
    font-size: 20px;
  }
}